.headerContainer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
  padding-bottom: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.headerContainer .leftContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.button_book {
  border: 1px solid black;
  width: max-content;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.button_book:hover {
  color: white;
  background: black;
}
@media screen and (max-width: 1250px) {
  .headerContainer {
    flex-direction: column;
  }
  .headerContainer .rightContainer {
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 970px) {
  .headerContainer .leftContainer {
    flex-direction: column;
    text-align: center;
  }
  .Description{
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  .headerContainer {
    flex-direction: column;
    text-align: center;
  }
  .headerContainer .leftContainer {
    flex-direction: column;
  }
  img {
    max-width: 100%;
  }
  .Description{
    font-size: 12px;
  }
}

.img{
  height:35vh;
  width:20vw;
  margin-left: -20px;
  margin-top: 20px;
}

@media screen and (max-width: 779px) {
  .img{
    height:100%;
    width:100%;
  }
  .Description{
    font-size: 16px;
  }
}

.Description{
  color:black;
  text-align: justify;
  font-family: "sans serif";
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

span{
  color:black;
  font-size: 38px;
}
